In [93]:
from datetime import datetime
from dotenv import load_dotenv
import os
import json
import pandas as pd
import requests
import time

from client import FtxClient

load_dotenv()

True

In [94]:
endpoint_url = 'https://ftx.com/api/markets'

# Get all market data as JSON
all_markets = requests.get(endpoint_url).json()

# Convert JSON to Pandas DataFrame
df = pd.DataFrame(all_markets['result'])
df.set_index('name', inplace = True)

In [95]:
df

,enabled,postOnly,priceIncrement,sizeIncrement,minProvideSize,last,bid,ask,price,type,...,highLeverageFeeExempt,largeOrderThreshold,change1h,change24h,changeBod,quoteVolume24h,volumeUsd24h,priceHigh24h,priceLow24h,tokenizedEquity
name,,,,,,,,,,,,,,,,,,,,,
1INCH-PERP,True,False,1.000000e-04,1.00000,1.00000,1.327600,1.327200,1.328000,1.327600,future,...,False,500.0,0.013280,0.006673,0.005910,4.103995e+06,4.103995e+06,1.351200,1.284100,NaN
1INCH-0624,True,False,1.000000e-04,1.00000,1.00000,1.285200,1.298400,1.303700,1.298400,future,...,False,500.0,0.010271,0.005576,0.002548,7.859868e+04,7.859868e+04,1.328400,1.264200,NaN
1INCH/USD,True,False,1.000000e-04,1.00000,1.00000,1.326300,1.327000,1.328000,1.327000,spot,...,True,500.0,0.012436,0.006752,0.004618,4.827738e+05,4.827738e+05,1.352100,1.284500,NaN
AAPL-0624,True,False,1.000000e-02,0.01000,0.01000,163.080000,163.120000,163.490000,163.120000,future,...,False,500.0,0.006230,0.028046,0.028759,7.155843e+04,7.155843e+04,163.430000,156.190000,True
AAPL/USD,True,False,1.000000e-02,0.01000,0.01000,163.320000,163.260000,163.630000,163.320000,spot,...,True,500.0,0.004305,0.031516,0.027170,2.179607e+05,2.179607e+05,165.500000,156.450000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZBULL/USDT,True,False,5.000000e-07,100.00000,100.00000,0.001136,0.001092,0.001111,0.001111,spot,...,True,500.0,0.031569,0.043192,0.010000,1.252943e+03,1.252976e+03,0.001141,0.001022,NaN
XTZHALF/USD,True,False,5.000000e-01,0.00001,0.00001,8762.500000,8019.500000,8055.500000,8055.500000,spot,...,True,500.0,0.005178,0.007693,-0.000248,0.000000e+00,0.000000e+00,8517.500000,7944.500000,NaN
XTZHEDGE/USD,True,False,5.000000e-03,0.00100,0.00100,64.550000,66.570000,67.010000,66.570000,spot,...,True,500.0,-0.010185,-0.015965,0.001128,0.000000e+00,0.000000e+00,68.400000,65.010000,NaN
ZECBEAR/USD,True,False,1.000000e-06,10.00000,10.00000,0.004957,0.004750,0.004909,0.004909,spot,...,True,500.0,-0.004663,-0.017217,0.019311,1.285789e+03,1.285789e+03,0.005232,0.004587,NaN
ZECBULL/USD,True,False,5.000000e-06,10.00000,10.00000,0.019385,0.020450,0.020540,0.020450,spot,...,True,500.0,0.011875,0.037544,0.000489,4.008774e+04,4.008774e+04,0.021865,0.018730,NaN

In [96]:
df.columns

Index(['enabled', 'postOnly', 'priceIncrement', 'sizeIncrement',
       'minProvideSize', 'last', 'bid', 'ask', 'price', 'type', 'baseCurrency',
       'quoteCurrency', 'underlying', 'restricted', 'highLeverageFeeExempt',
       'largeOrderThreshold', 'change1h', 'change24h', 'changeBod',
       'quoteVolume24h', 'volumeUsd24h', 'priceHigh24h', 'priceLow24h',
       'tokenizedEquity'],
      dtype='object')

Get Market Data
For BNB

In [97]:
base_currency = 'BNB'
quote_currency = 'USD'

# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'

df = pd.DataFrame(requests.get(request_url).json())
df['result']

ask                             405.693
baseCurrency                        BNB
bid                             405.611
change1h                       0.005562
change24h                      0.040316
changeBod                      0.037008
enabled                            True
highLeverageFeeExempt              True
largeOrderThreshold              5000.0
last                            405.693
minProvideSize                     0.01
name                            BNB/USD
postOnly                          False
price                           405.693
priceHigh24h                    406.676
priceIncrement                    0.001
priceLow24h                     386.992
quoteCurrency                       USD
quoteVolume24h           42199588.86131
restricted                        False
sizeIncrement                      0.01
type                               spot
underlying                         None
volumeUsd24h             42199588.86131
Name: result, dtype: object

Get Historical Data

In [98]:
# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)

# Start date = 2022-04-01
start = datetime(2020, 4, 1).timestamp()

# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start}'
).json()

# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])

# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 

# Remove unnecessary columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df
df

        open     high      low    close        volume       date
0     12.564   12.767   11.998   12.735  7.524713e+04 2020-04-01
1     12.746   13.740   12.578   13.021  1.218688e+05 2020-04-02
2     13.025   13.574   12.921   13.361  7.237101e+04 2020-04-03
3     13.359   14.078   13.170   13.770  2.724178e+05 2020-04-04
4     13.770   13.965   13.413   13.698  1.192558e+05 2020-04-05
..       ...      ...      ...      ...           ...        ...
753  401.087  405.533  397.272  398.762  3.549160e+07 2022-04-24
754  398.762  405.629  382.283  404.348  4.608006e+07 2022-04-25
755  404.348  407.580  380.942  385.916  3.615589e+07 2022-04-26
756  385.916  394.945  383.487  391.459  4.074091e+07 2022-04-27
757  391.459  406.676  388.562  405.400  3.482728e+07 2022-04-28

[758 rows x 6 columns]

Get Order Book Data

In [99]:
depth = 20
path = f'/{base_currency}/{quote_currency}/orderbook?depth={depth}'

d = endpoint_url + path
d

'https://ftx.com/api/markets/BNB/USD/orderbook?depth=20'

Order Book

In [100]:
request_url

'https://ftx.com/api/markets/BNB/USD'

In [101]:
res = requests.get(d).json()
bids = pd.DataFrame(res['result']['bids'])
asks = pd.DataFrame(res['result']['asks'])
bids

          0      1
0   405.422  13.50
1   405.402  11.00
2   405.399  13.50
3   405.271  14.69
4   405.264  18.12
5   405.256   0.73
6   405.208   9.43
7   405.207   0.14
8   405.202  14.60
9   405.201  43.56
10  405.200  29.81
11  405.186   1.53
12  405.181  36.42
13  405.179   4.94
14  405.160   0.05
15  405.154   3.60
16  405.129   2.96
17  405.086   1.29
18  405.020  18.57
19  405.010   7.41

In [102]:
res = requests.get(d).json()
bids = pd.DataFrame(res['result']['bids'])
asks = pd.DataFrame(res['result']['asks'])
bids.columns = ['Bid Price', 'Bid Amount']
asks.columns = ['Ask Price', 'Ask Amount']

In [103]:
data = pd.merge(bids, asks, left_index=True, right_index=True)
data

    Bid Price  Bid Amount  Ask Price  Ask Amount
0     405.505        0.67    405.571       13.50
1     405.504       13.50    405.591       18.94
2     405.450       25.30    405.593       42.54
3     405.449       18.12    405.772       12.58
4     405.448        9.57    405.773       22.00
5     405.400       16.05    405.775        4.66
6     405.330       36.42    405.780        3.60
7     405.315        1.53    405.800       15.86
8     405.303       14.89    405.916        4.94
9     405.302       19.82    405.917        0.15
10    405.298       20.79    405.919        0.36
11    405.279        3.74    405.931       18.57
12    405.256        0.77    405.959       24.67
13    405.230        2.46    406.000       14.92
14    405.207        0.14    406.029        0.10
15    405.202       14.60    406.149       21.54
16    405.200       29.81    406.150       14.89
17    405.195        7.40    406.151      105.85
18    405.187        0.15    406.155        0.05
19    405.185        0.36    406.200       14.07

Get Trades

In [104]:

path = f'/{base_currency}/{quote_currency}/trades'
a = endpoint_url + path
a

'https://ftx.com/api/markets/BNB/USD/trades'

In [110]:
req = requests.get(a).json()
df1 = pd.DataFrame(req['result'])
df1.head()

,id,price,size,side,liquidation,time
0,3844768835,405.759,17.60,sell,False,2022-04-28T17:33:34.207684+00:00
1,3844768597,405.916,0.01,buy,False,2022-04-28T17:33:32.019183+00:00
2,3844768565,405.789,0.50,buy,False,2022-04-28T17:33:31.826940+00:00
3,3844767146,405.945,0.01,buy,False,2022-04-28T17:33:17.093892+00:00
4,3844766329,405.803,25.81,buy,False,2022-04-28T17:33:13.489803+00:00

In [106]:
df1['date'] = pd.to_datetime(df1['time']).dt.date

# Remove unnecessar columns
df1.drop([ 'time'], axis=1, inplace=True)

Saving the FTX  data to use it for machine learning

In [109]:
df.to_csv('data_ftx')